*{
    margin: 0;
    padding: 0;
    
}

/* Navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 56px;
    top: 0px;
    background-color: #933b3b;
}


/* Navigation bar : Logo and image */
#logo{
    margin: 2px 14px;
}
#logo img{
    height: 59px;
    margin: 8px 11px;
    
}
/* Navigation bar : List styling */

#navbar ul{
    display: flex;   
    font-family: 'Ubuntu', sans-serif;
}
 
#navbar::before{
    content: ""; 
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}


#navbar ul li{
    /* color: white; */
    list-style: none;
    font-size: 1.3rem;
    padding-left: 20px;
}

#navbar ul li a{
    color: white;
    display: block;
     padding: 8px 19px;
    border-radius: 20px;
    text-decoration: none;
}
 
/* #navbar input{
    border: 2px solid black;
    border-radius: 20px;
    padding: 8px 10px;
    margin-top: 2px;
    margin-left: 107px;
    width: 300px;
    background-color: #efefe7;  
} */
  
#navbar .search{
    position: absolute;
    /* border: 2px solid black; */
    /* border-radius: 20px; */
    padding: 0px;
    padding-bottom: 2px;
    padding-top: 0px;
    padding-left: 10px;
    top: 15%;
    left: 68%;
    width: 300px;
    height: 38px;
    margin: 0px;
    border-radius: 40px;
    background-color: #dcdfe5; 
}

.search-btn{
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    background-color: #b3ccff;  
    justify-content: center;
    align-items: center;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
}
 #navbar .fa{
     font-size: 25px;
 }

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    height: 457px;
   flex-direction: column;
   padding: 3px 200px;
  justify-content: center;
 align-items: center;
}
#home::before{
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
   background: url('../bg\ \(2\).jpg')  no-repeat center center/cover ;
   height: 74%;
    width: 100%;
    z-index: -2;
    opacity: 0.95;
}

#home h1{
    color: rgb(243, 247, 242);
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color: white;
    text-align: center;
    font-size: 21px;
    font-family: 'Bree Serif', serif;
}
 

.recipie-container{
   
}
#recipies{
  margin: 34px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#recipies a{
    text-decoration: none;
    color: black;
}

#recipies .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background: rgb(238, 235, 235);
}

#recipies .box {
    height: 156px;
    width: 250px;
    margin: 4px;
    display: block;
}

/* Box background styling */
#recipies #bg-1{
   background: url(../img/vegfood.jpg) no-repeat center center/cover;
   
}

#recipies #bg-2{
    background: url(../img/chicken.jpg) no-repeat center center/cover;
    
 }

 #recipies #bg-3{
    background: url(../img/sweet1.jpg) no-repeat center center/cover;
    
 }

 #recipies #bg-4{
    background: url(../img/beverage.jpg) no-repeat center center/cover;
    
 }



#recipies .box p{
    font-family: 'Bree Serif', serif;
}



/* Contact Section */
#contact{
   
    position: relative;

}

#contact::before{
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: -1;
   opacity: 0.7;
   background: url(../img/contact-us.jpg) no-repeat center center/cover;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

 #contact-box input,
 #contact-box textarea{
     width: 100%;
     padding: 5px;
    border-radius: 9px;
   font-size: 15px;
 }

 #contact-box form{
     width: 40%;
 }

 #contact-box form{
   font-size: 20px;
}

footer{
    background: black;
    color: white;
    padding: 9px 20px;
}




.h-primary{
    font-size: 45px;
    padding: 12px;
}

.h-secondary{
    font-size: 25px;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
   color: white;
   margin: 17px;
   font-size: 20px;
   border-radius: 10px;
   cursor: pointer;
}

.center{
    text-align: center;
    font-family: 'Bree Serif', serif;
}